* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.center-text {
    margin-bottom: 20px;
    font-size: 26px;
}

.button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #165BAA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0B1354;
}

button:active {
    transform: scale(0.9);
}

.hide {
    display: none;
}